<%- include('header.ejs') %> <%- include('aside.ejs') %>

<div class="content-wrapper">
  <section class="content-header">
    <h1>
      <i class="fa fa-th"></i>
      <%= title %>
    </h1>
  </section>
  <section class="content">
    <div class="box">
      <div class="box-header with-border">
        <div class="box-body" style="padding-bottom: 20px">
          <form
            action="/categories"
            method="get"
            class="form-inline"
            role="form"
            style="margin-bottom: 20px"
          >
            <div class="form-group">
              <label class="sr-only" for="exampleInputEmail2"
                >Email address</label
              >
              <input
                name="name"
                class="form-control"
                placeholder="Input field"
              />
            </div>
            <button type="submit" class="btn btn-primary">
              <i class="fa fa-search"></i>
            </button>
            <a
              href="/add/categories"
              class="btn btn-success pull-right"
              style="margin-left: 10px"
            >
              <i class="fa fa-plus"></i> Thêm mới</a
            >
          </form>
          <table class="table">
            <thead>
              <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Image</th>
                <th>Quantity</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% data.map(function(cat) { %>
              <tr>
                <td><%= cat.id %></td>
                <td><%= cat.name %></td>
                <td><%= cat.description %></td>
                <td>
                  <% if (cat.image) { %>
                  <img
                    width="60"
                    src="uploads/<%= cat.image %>"
                    alt="Hình ảnh"
                    style="max-width: 100%; height: auto"
                  />
                  <% } %>
                </td>

                <td><%= cat.quantity %></td>
                <td class="text-right">
                  <a
                    href="/categories-edit/<%= cat.id %>"
                    class="btn btn-sm btn-primary"
                  >
                    <i class="fa fa-edit"></i> Sửa
                  </a>
                  <a
                    href="/categories-delete/<%= cat.id %>"
                    class="btn btn-sm btn-danger"
                  >
                    <i class="fa fa-trash"></i> Xóa
                  </a>
                </td>
              </tr>
              <% }) %>
            </tbody>
          </table>
        </div>
        <!-- /.box-body -->
        <div class="box-footer" style="padding-top: 20px">
          <ul class="pagination" style="margin: 0">
            <li>
              <!-- Nút "Trang trước" -->
              <a href="/categories?page=<%= _page > 1 ? _page - 1 : 1 %>"
                >&laquo;</a
              >
            </li>
            <% for (let i = 0; i < totalPage; i++) { %> <% if (_name) { %>
            <li class="<%= _page === i + 1 ? 'active' : '' %>">
              <!-- Thêm class 'active' vào thẻ <li> nếu đó là trang hiện tại -->
              <a href="/categories?page=<%= i + 1 %>&name=<%= _name %>"
                ><%= i + 1 %></a
              >
            </li>
            <% } else { %>
            <li class="<%= _page === i + 1 ? 'active' : '' %>">
              <!-- Thêm class 'active' vào thẻ <li> nếu đó là trang hiện tại -->
              <a href="/categories?page=<%= i + 1 %>"><%= i + 1 %></a>
            </li>
            <% } %> <% } %>
            <li>
              <!-- Nút "Trang kế tiếp" -->
              <a
                href="/categories?page=<%= _page < totalPage ? _page + 1 : totalPage %>"
                >&raquo;</a
              >
            </li>
          </ul>
        </div>
      </div>
      <!-- <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li> -->
      <!-- /.box -->
    </div>
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<%- include("footer.ejs") %>
